<!-- ---
import { getChangelogs } from "~/util/changelogs";
import { getEntry } from "astro:content";

const page = await getEntry("docs", Astro.params.slug!);

if (!page) {
	throw new Error(
		`[ProductChangelog] Unable to find entry for ${Astro.params.slug}`,
	);
}

const { changelog } = page.data;

if (!changelog || !changelog.products) {
	throw new Error(
		`[ProductChangelog] ${Astro.params.slug} must have a "changelog" entry in frontmatter`,
	);
}

const changelogs = await getChangelogs({
	filter: (e) => {
		return e.data.products.some((p) =>
			changelog.products?.some((v) => v.id === p.id),
		);
	},
});
---

{
	changelogs.map((entry) => (
		<h3>{entry.data.date.toISOString().slice(0, 10)}</h3>
		<h4>{entry.data.description}</h4>
		<p>For more information, refer to the <a href={entry.data.link}>dedicated changelog post</a>.</p>
	))
} -->
